<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> body
    { background-image: url(photo.jpg); background-repeat: no-repeat; background-size: cover;
    display: flex; justify-content: center; align-items: center;};
    body img
    {
        height:400px
    }

    </style>
</head>
<body>
    <div class="box">   <img src="WhatsApp Image 2024-11-05 at 11.52.30_f5152ed8.jpg" alt="">  </div>

   
    
    <script>   function showPhoto() {
        const photo = window.location.href =" pay.html"
        box.style.display = 'block';

        // Hide the photo after 20 seconds
        setTimeout(() => {
            box.style.display = 'none';
            alert("your time out")
        }, 2000); // 20000 milliseconds = 20 seconds
       
    }</script>
</body>
</html>