<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="hero.css">
    <title>Hero Page</title>
</head>
<body>
    
        <div class="hero">
            <div class="left-side">
                <div class="img"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRCqu-rNwuqoXZu6mVuUUf7iMxR6_8S87LTQ&s" alt="">   </div>
               
                <h1>Welcome to Our Website</h1>
                <p>Explore the amazing features we offer and join our community.</p>
            </div>
            <div class="right-side">
                <h2 class="animated-text">Discover More</h2>
                <p class="animated-text">Join us today!
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias reprehenderit sed qui ducimus. Ex a sint quia, tenetur nam voluptas tempore blanditiis rerum repellat similique, deleniti, eum voluptates animi accusamus vitae totam?
                </p>
                <!-- <p class="animated-text">  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint assumenda corrupti officiis distinctio quaerat, tempore aperiam similique doloribus facilis iusto recusandae repellendus cumque explicabo inventore ipsa eius quisquam maxime nesciunt consequatur consectetur quae? Ullam. </p> -->
            </div>
        </div> 

    
   
</body>
</html>
