<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Mover.css">
</head>
<body>
    <div class="main_div">

      <div class="first_div common">
        <span>Winter</span>
      </div>

      <div class="second_div common">
        <span>Summer</span>
      </div>

      <div class="third_div common">
        <span>All_time</span>
      </div>
    </div>
</body>
</html>