
.main_div{
    border: 2px solid grey;
    border-radius: 5px;
    display: flex;
    gap: 55px;
    justify-content: center;
    align-items: center;
}

.common{
    margin: 4px;
    background: gray;
    padding: 2px;
    border-radius: 5px;
    width: auto;
    margin-left: 45px;
    text-align: center;
    margin-right: 45px;
    width: 450px;

}

